footer{
    background:lab(11.85% -17.92 7.07);
    color:white;
    padding:60px 8%;
}

.footer-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:30px;
}

.footer-column h3{
    color:#ffffff;
    margin-bottom:20px;
    font-size:20px;
    border-left:4px solid #d4af37;
    padding-left:10px;
}

.footer-column ul{
    list-style:none;
}

.footer-column ul li{
    margin-bottom:10px;
}

.footer-column ul li a{
    color:#cfcfcf;
    text-decoration:none;
    transition:0.3s;
}

.footer-column ul li a:hover{
    color:#d4af37;
    padding-left:5px;
}

.footer-bottom{
    margin-top:30px;
    padding-top:10px;
    border-top:1px solid rgba(255,255,255,.2);
    text-align:center;
    color:#dcdcdc;
}

.social-links{
    list-style:none;
    padding:0;
}

.social-links li{
    margin-bottom:25px;
    text-align:center;
}

.social-links a{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-decoration:none;
}

.social-links i{
    font-size:32px;
    margin-bottom:8px;
}

.social-links span{
    color:#dcdcdc;
    font-size:14px;
    text-align:center;
}

.facebook{
    color:#1877F2;
}

.whatsapp{
    color:#25D366;
}

.instagram{
    color:#E4405F;
}

.tiktok{
    color:#ffffff;
}

.youtube{
    color:#FF0000;
}

.social-links a:hover{
    transform:translateY(-3px);
    transition:0.3s;
}