<nav class="navbar">

    <ul class="menu">

        <li>
            <a href="/PUEBLO-WAMPIS/index.html">🏠 INICIO</a>
        </li>

        <li>
            <a href="#">HISTORIA</a>
            <ul class="submenu">
                <li><a href="/PUEBLO-WAMPIS/pages/historia/origen-actualidad.html">Origen y Actualidad</a></li>
            </ul>
        </li>

        <li>
            <a href="#">CULTURA</a>
            <ul class="submenu">
                <li><a href="/PUEBLO-WAMPIS/pages/cultura/costumbres.html">Costumbres</a></li>
                <li><a href="/PUEBLO-WAMPIS/pages/cultura/tradiciones.html">Tradiciones</a></li>
                <li><a href="/PUEBLO-WAMPIS/pages/cultura/vestimenta.html">Vestimenta</a></li>
                <li><a href="/PUEBLO-WAMPIS/pages/cultura/artesania.html">Artesanía</a></li>
                <li><a href="/PUEBLO-WAMPIS/pages/cultura/gastronomia.html">Gastronomía</a></li>
                <li><a href="/PUEBLO-WAMPIS/pages/cultura/musica-danza.html">Música y Danza</a></li>
                <li><a href="/PUEBLO-WAMPIS/pages/cultura/medicina.html">Medicina Tradicional</a></li>
                <li><a href="/PUEBLO-WAMPIS/pages/cultura/ceremonias.html">Ceremonias</a></li>
                <li><a href="/PUEBLO-WAMPIS/pages/cultura/vivienda-tradicional.html">Vivienda</a></li>
                <li><a href="/PUEBLO-WAMPIS/pages/cultura/organizacion-social.html">Organización Social</a></li>
                <li><a href="/PUEBLO-WAMPIS/pages/cultura/cosmovision.html">Cosmovisión</a></li>
            </ul>
        </li>

        <li>
            <a href="#">IDIOMA</a>
            <ul class="submenu">
                <li><a href="/PUEBLO-WAMPIS/pages/idioma/alfabeto.html">Alfabeto</a></li>
                <li><a href="/PUEBLO-WAMPIS/pages/idioma/saludos.html">Saludos</a></li>
                <li><a href="/PUEBLO-WAMPIS/pages/idioma/frases.html">Frases</a></li>
                <li><a href="/PUEBLO-WAMPIS/pages/idioma/diccionario.html">Diccionario</a></li>
            </ul>
        </li>

        <li>
            <a href="#">FLORA Y FAUNA</a>
            <ul class="submenu">
                <li>
                    <a href="#">Fauna</a>
                    <ul class="submenu2">
                        <li><a href="/PUEBLO-WAMPIS/pages/flora-fauna/fauna/aves.html">Aves</a></li>
                        <li><a href="/PUEBLO-WAMPIS/pages/flora-fauna/fauna/mamiferos.html">Mamíferos</a></li>
                        <li><a href="/PUEBLO-WAMPIS/pages/flora-fauna/fauna/peces.html">Peces</a></li>
                        <li><a href="/PUEBLO-WAMPIS/pages/flora-fauna/fauna/reptiles.html">Reptiles</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">Flora</a>
                    <ul class="submenu2">
                        <li><a href="/PUEBLO-WAMPIS/pages/flora-fauna/flora/arboles-maderables.html">Árboles Maderables</a></li>
                        <li><a href="/PUEBLO-WAMPIS/pages/flora-fauna/flora/frutas-amazonicas.html">Frutas Amazónicas</a></li>
                        <li><a href="/PUEBLO-WAMPIS/pages/flora-fauna/flora/plantas-medicinales.html">Plantas Medicinales</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="#">GALERÍA</a>
            <ul class="submenu">
                <li><a href="/PUEBLO-WAMPIS/pages/galeria/fotografias.html">Fotografías</a></li>
                <li><a href="/PUEBLO-WAMPIS/pages/galeria/videos.html">Videos</a></li>
                <li><a href="/PUEBLO-WAMPIS/pages/galeria/paisajes.html">Paisajes</a></li>
                <li><a href="/PUEBLO-WAMPIS/pages/galeria/ceremonias.html">Ceremonias</a></li>
                <li><a href="/PUEBLO-WAMPIS/pages/galeria/comunidad.html">Comunidad</a></li>
            </ul>
        </li>

        <li>
            <a href="/PUEBLO-WAMPIS/index.html#contacto">CONTACTO</a>
        </li>

    </ul>

</nav>
